* {
    font-family: Verdana;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    /* text-align: center; */
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    color: grey;
}

a {
    color: aquamarine;
    font-size: 16px;
}

#icon {
    margin-top: 20px;
}

footer {
    text-align: right;
}